/* Navbar stylings */

body{
  margin: 0;
  padding: 0;
}

div.navbar {
  display: flex;
  flex-direction: row;
}

#root>div>div>a:nth-child(1) {
  margin-left: auto;
}

div.navbar a {
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: blue;
  margin: 5px;
  border-radius: 20%;
}

/* Links */

div.links {
  display: flex;
}

div.links div {
  margin: auto;
  border-bottom: 2px solid blue;
}

div.links div i {
  margin: 5px;
}

div.notout-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white !important;
}

div.notout-logo img {
  width: 100px;
  height: 100px;
  border-radius: 15%;
}

div.notout-logo h2 {
  margin: 5px;
  color: blue;
}

/* Middle1 */

div.middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: blue;
}

div.middle div{
  flex: 1;
  text-align: left;
  padding-left: 150px;
}

div.middle div p{
  text-align: left;
}

div.middle div img {
  width: 500px;
  height: 500px;
  padding: 0;
  border-radius: 20% 0 20% 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  
}

/* Middle2 */

div.middle2{
  margin-top: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  background-color: rgba(128, 128, 128, 0.3);
}

div.middle2 div{
  flex: 1;
  text-align: left;
}

div.middle2 div img{
  height: 500px;
  width: 500px;
  margin: 30px;
  box-shadow: -10px 10px 0px 0px blue;
}

div.middle2 div h2{
  display: inline-block;
  border-top: 8px solid yellow;
}

div.middle2 div button{
  display: block;
  margin-left: auto;
  margin-right: 50px;
  padding: 5px;
  background-color: blue;
  color: white;
}

/* Middle3 */

div.middle3{
  margin-top: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  background-color:white !important;
}

div.middle3 div{
  flex: 1;
  text-align: left;
}

div.middle3 div img{
  height: 500px;
  width: 500px;
  margin: 30px;
  box-shadow: -10px 10px 0px 0px blue;
}

div.middle3 div h2{
  display: inline-block;
  border-top: 8px solid orange;
}

div.middle3 div button{
  display: block;
  margin-left: auto;
  margin-right: 50px;
  padding: 5px;
  background-color: blue;
  color: white;
}

#root > div > div.middle3 > div:nth-child(1){
  padding-left: 40px;
}

/* Middle4 */

div.middle4{
  margin-top: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  background-color: rgba(128, 128, 128, 0.3);
}

div.middle4 div{
  flex: 1;
  text-align: left;
}

div.middle4 div img{
  height: 500px;
  width: 500px;
  margin: 30px;
  box-shadow: -10px 10px 0px 0px blue;
}

div.middle4 div h2{
  display: inline-block;
  border-top: 8px solid yellow;
}

div.middle4 div button{
  display: block;
  margin-left: auto;
  margin-right: 50px;
  padding: 5px;
  background-color: blue;
  color: white;
}

/* Middle5 */

div.middle5{
  margin-top: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  background-color:white !important;
  border-bottom: 80px solid rgba(128, 128, 128, 0.3); ;
}

div.middle5 div{
  flex: 1;
  text-align: left;
}

div.middle5 div img{
  height: 500px;
  width: 500px;
  margin: 30px;
  box-shadow: -10px 10px 0px 0px blue;
}

div.middle5 div h2{
  display: inline-block;
  border-top: 8px solid orange;
}

div.middle5 div button{
  display: block;
  margin-left: auto;
  margin-right: 50px;
  padding: 5px;
  background-color: blue;
  color: white;
}

#root > div > div.middle5 > div:nth-child(1){
  padding-left: 40px ;
}

/* Links */
div.lower{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: left;
  row-gap: 10px;
  column-gap: 20px;
}

div.lower .box1{
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

div.lower .box2{
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

div.lower .box3{
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}

div.lower .box4{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

/* MiddleContent */

div.middle-content h2,h4{
  color: blue;
}

div.lower div{
  padding: 0px 40px;
}

div.middle-content h3 {
  position: relative;
  padding: 2px;
}

div.box1 div.middle-content h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-image: linear-gradient(to right, orange 30%, blue 30%);
}

div.box2 div.middle-content h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-image: linear-gradient(to right, red 30%, blue 30%);
}

div.box3 div.middle-content h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-image: linear-gradient(to right, green 30%, blue 30%);
}

div.box4 div.middle-content h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-image: linear-gradient(to right, lightblue 30%, blue 30%);
}

div.middle-content p,div.middle-content h4{
  margin: 0;
  padding: 0;
  border-bottom: 2px solid white;
}

div.middle-content p{
  margin-bottom: 20px;
}

/* List item */

div.list-item{
  background-color: rgba(128, 128, 128, 0.3);
  padding:50px 80px;
  margin-top: 30px;
  text-align: left;
}

div.list-item div{
  margin: 0;
  padding: 0;
  border-bottom: none;
}
div.list-item h3{
  display: inline-block;
  border-top: 8px solid blue;
  margin: 40px;
  padding-top: 5px;
  font-size: 23px;
}

div.list-item h4 button{
  border: none;
  background: blue;
  color: white;
  padding: 4px 3px;
  font-size: 20px;
}

div.list-item h4{
  text-align: left;
  margin: 0;
  padding:5px;
  color: white;
  background-color: blue;

}

div.list-item p{
  background-color: blue;
  margin: 0;
  padding: 5px;
  color: white;
}

/* last */

div.last{
  text-align: left;
  padding: 50px;
  background: linear-gradient(to bottom, rgb(105, 105, 159), rgb(238, 248, 251));
  border-top: 15px solid blue;
}

div.last div.flex-container{
  display: flex;
}

div.last div.flex-container{
  border-bottom: 5px solid blue;
}

div.last div.flex-container div{
  flex: 1;
}

div.last div.flex-container div div.logo img{
  width: 100px;
  height: 100px;
}

div.last div.flex-container div div.logo{
  display: flex;
}

div.last div.flex-container div:nth-child(1){
  flex: 2;
}

div.last div.flex-container div div.logo h3{
  font-size: 25px;
  padding-left: 10px;
  color: white;
  border-bottom: none !important;
}

div.last div.flex-container div h4{
  font-size: 20px;
  padding-left: 30px;
  color: white;
}

#root > div > div.last{
  padding-bottom: 0;
}

/* Footer */

div.footer{
  display: flex;
}

div.footer p{
  flex:1;
  padding: 0 80px;
}

div.footer p:nth-child(1){
  text-align: left;
}

div.footer p:last-child{
  text-align: right;
}

div.footer i{
  padding: 5px;
}







